.gender-male { color: var(--fg-gender-male) !important; }
.gender-male-herm { color: var(--fg-gender-male-herm) !important; }
.gender-female { color: var(--fg-gender-female) !important; }
.gender-herm { color: var(--fg-gender-herm) !important; }
.gender-cunt-boy { color: var(--fg-gender-cunt-boy) !important; }
.gender-transgender { color: var(--fg-gender-transgender) !important; }
.gender-shemale { color: var(--fg-gender-shemale) !important; }
.gender-none { color: var(--fg-gender-none) !important; }

.gender-male .char-is-bookmark,
.gender-male.char-is-bookmark { color: var(--fg-bookmark-gender-male) !important; }
.gender-male-herm .char-is-bookmark,
.gender-male-herm.char-is-bookmark { color: var(--fg-bookmark-gender-male-herm) !important; }
.gender-female .char-is-bookmark,
.gender-female.char-is-bookmark { color: var(--fg-bookmark-gender-female) !important; }
.gender-herm .char-is-bookmark,
.gender-herm.char-is-bookmark { color: var(--fg-bookmark-gender-herm) !important; }
.gender-cunt-boy .char-is-bookmark,
.gender-cunt-boy.char-is-bookmark { color: var(--fg-bookmark-gender-cunt-boy) !important; }
.gender-transgender .char-is-bookmark,
.gender-transgender.char-is-bookmark { color: var(--fg-bookmark-gender-transgender) !important; }
.gender-shemale .char-is-bookmark,
.gender-shemale.char-is-bookmark { color: var(--fg-bookmark-gender-shemale) !important; }
.gender-none .char-is-bookmark,
.gender-none.char-is-bookmark { color: var(--fg-bookmark-gender-none) !important; }

.gender-male .char-is-friend,
.gender-male.char-is-friend { color: var(--fg-friend-gender-male) !important; }
.gender-male-herm .char-is-friend,
.gender-male-herm.char-is-friend { color: var(--fg-friend-gender-male-herm) !important; }
.gender-female .char-is-friend,
.gender-female.char-is-friend { color: var(--fg-friend-gender-female) !important; }
.gender-herm .char-is-friend,
.gender-herm.char-is-friend { color: var(--fg-friend-gender-herm) !important; }
.gender-cunt-boy .char-is-friend,
.gender-cunt-boy.char-is-friend { color: var(--fg-friend-gender-cunt-boy) !important; }
.gender-transgender .char-is-friend,
.gender-transgender.char-is-friend { color: var(--fg-friend-gender-transgender) !important; }
.gender-shemale .char-is-friend,
.gender-shemale.char-is-friend { color: var(--fg-friend-gender-shemale) !important; }
.gender-none .char-is-friend,
.gender-none.char-is-friend { color: var(--fg-friend-gender-none) !important; }

.gender-offline { opacity: 0.5; }

.onlinestatus-offline { color: var(--fg-status-offline); }
.onlinestatus-online { color: var(--fg-status-online); }
.onlinestatus-idle { color: var(--fg-status-idle); }
.onlinestatus-away { color: var(--fg-status-away); }
.onlinestatus-dnd { color: var(--fg-status-dnd); }
.onlinestatus-busy { color: var(--fg-status-busy); }
.onlinestatus-looking { color: var(--fg-status-looking); }
.onlinestatus-crown { color: var(--fg-status-crown); }

.ignored { opacity: 0.4; }



*::-webkit-scrollbar {
    width: 16px;
}
*::-webkit-scrollbar-track {
    background: transparent;
    pointer-events: all;
}
*::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    border-radius: 8px;
    border: 4px solid transparent;
}

*::-webkit-scrollbar-track:hover {
    background: rgba(255, 255, 255, 0.2);
}
*::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.6);
    background-clip: padding-box;
    border-radius: 8px;
    border: 4px solid transparent;
}

button.themed, .theme-button {
    background: var(--bg-main-textbox-btn);
    color: var(--fg-main-textbox-btn);
    font: inherit;
    border-radius: 6px;
    padding: 0.4em 1.25em;
    border: none;
    outline: none;
    border: 1px solid transparent;
    cursor: pointer;



    &.themed-is-default,
    &.style-default,
    &.theme-button-default {
        background: var(--bg-main-textbox-default-btn);
        color: var(--fg-main-textbox-default-btn);    
    }
    &.themed-is-default:hover,
    &.style-default:hover,
    &.theme-button-default:hover {
        background: var(--bg-main-textbox-default-btn-hover);
        color: var(--fg-main-textbox-default-btn-hover);     
    }
    &.themed-is-default:disabled,
    &.style-default:disabled,
    &.theme-button-default:disabled {
        pointer-events: none;
    }

    &.themed-is-cancel,
    &.style-cancel,
    &.theme-button-cancel {
        background: var(--bg-main-textbox-cancel-btn);
        color: var(--fg-main-textbox-cancel-btn);    
    }
    &.themed-is-cancel:hover,
    &.style-cancel:hover,
    &.theme-button-cancel:hover {
        background: var(--bg-main-textbox-cancel-btn-hover);
        color: var(--fg-main-textbox-cancel-btn-hover);
    }
    &.themed-is-cancel:disabled,
    &.style-cancel:disabled,
    &.theme-button-cancel:disabled {
        pointer-events: none;
    }


    &.themed-is-backoff,
    &.style-backoff,
    &.theme-button-backoff {
        background: var(--bg-main-textbox-backoff-btn);
        color: var(--fg-main-textbox-backoff-btn);    
    }
    &.themed-is-backoff:hover,
    &.style-backoff:hover,
    &.theme-button-backoff:hover {
        background: var(--bg-main-textbox-backoff-btn-hover);
        color: var(--fg-main-textbox-backoff-btn-hover);
    }
    &.themed-is-backoff:disabled,
    &.style-backoff:disabled,
    &.theme-button-backoff:disabled {
        pointer-events: none;
    }

    &.themed-is-warning,
    &.style-warning,
    &.theme-button-warning {
        background: var(--bg-main-textbox-warning-btn);
        color: var(--fg-main-textbox-warning-btn);
    }
    &.themed-is-warning:hover,
    &.style-warning:hover,
    &.theme-button-warning:hover {
        background: var(--bg-main-textbox-warning-btn-hover);
        color: var(--fg-main-textbox-warning-btn-hover);
    }
    &.themed-is-warning:disabled,
    &.style-warning:disabled,
    &.theme-button-warning:disabled {
        pointer-events: none;
    }        

    &.themed-smaller,
    &.theme-button-smaller {
        font-size: 80%;
        padding: 0.12em 0.6em;
    }
}
button.themed:disabled, .theme-button:disabled {
    opacity: 0.5;
    cursor: default;
}

button.themed:focus, .theme-button:focus {
    border: 1px solid var(--highlight-main-textbox);
}
button.themed:hover, .theme-button:hover {
    background: var(--bg-main-textbox-btn-hover);
    color: var(--fg-main-textbox-btn-hover);    
}
button.themed:disabled, .theme-button:disabled {
    pointer-events: none;
}

input.themed,
input.theme-textbox {
    background: var(--bg-main-textbox);
    color: var(--fg-main-textbox);
    font: inherit;
    padding: 0.1em 0.2em;
    border: none;
    outline: none;
    border-bottom: 1px solid transparent;
}

input.themed:focus,
input.theme-textbox:focus {
    border-bottom: 1px solid var(--highlight-main-textbox);    
}
input.themed::placeholder,
input.theme-textbox::placeholder {
    font-style: italic;    
}

textarea.themed,
textarea.theme-textbox {
    background: var(--bg-main-textbox);
    color: var(--fg-main-textbox);
    font: inherit;
    padding: 0.1em 0.2em;
    border: none;
    outline: none;

    &::placeholder {
        font-style: italic;    
    }
}
textarea.themed:focus,
textarea.theme-textbox:focus {
    outline: 1px solid var(--highlight-main-textbox);    
}


select.themed,
.theme-select {
    background: var(--bg-main-textbox-btn);
    color: var(--fg-main-textbox-btn);
    font: inherit;
    border-radius: 6px;
    padding: 0.4em 0.25em;
    border: 1px solid transparent;
    outline: none;

    &.themed-smaller,
    &.theme-select-smaller {
        font-size: 80%;
        padding: 0.12em 0.6em;
    }
}
select.themed:focus,
.theme-select:focus {
    border: 1px solid var(--highlight-main-textbox);    
}
select.themed:hover,
.theme-select:hover {
    background: var(--bg-main-textbox-btn-hover);
    color: var(--fg-main-textbox-btn-hover);
}

input.themed.invalid-value,
button.themed.invalid-value,
select.themed.invalid-value {
    outline: 2px solid red;
}

.character-link { cursor: pointer; }
.hidden { display: none !important; }


x-eicondisplay { display: inline-block; user-select: all;; line-height: 0px; font-size: 0px; }
x-eicondisplay img { width: inherit; height: inherit; }
x-eicondisplay img.blocked { filter: blur(10px); }