.gender-male { color: var(--fg-gender-male) !important; }
.gender-male-herm { color: var(--fg-gender-male-herm) !important; }
.gender-female { color: var(--fg-gender-female) !important; }
.gender-herm { color: var(--fg-gender-herm) !important; }
.gender-cunt-boy { color: var(--fg-gender-cunt-boy) !important; }
.gender-transgender { color: var(--fg-gender-transgender) !important; }
.gender-shemale { color: var(--fg-gender-shemale) !important; }
.gender-none { color: var(--fg-gender-none) !important; }

.gender-male .char-is-friend,
.gender-male.char-is-friend { color: var(--fg-friend-gender-male) !important; }
.gender-male-herm .char-is-friend,
.gender-male-herm.char-is-friend { color: var(--fg-friend-gender-male-herm) !important; }
.gender-female .char-is-friend,
.gender-female.char-is-friend { color: var(--fg-friend-gender-female) !important; }
.gender-herm .char-is-friend,
.gender-herm.char-is-friend { color: var(--fg-friend-gender-herm) !important; }
.gender-cunt-boy .char-is-friend,
.gender-cunt-boy.char-is-friend { color: var(--fg-friend-gender-cunt-boy) !important; }
.gender-transgender .char-is-friend,
.gender-transgender.char-is-friend { color: var(--fg-friend-gender-transgender) !important; }
.gender-shemale .char-is-friend,
.gender-shemale.char-is-friend { color: var(--fg-friend-gender-shemale) !important; }
.gender-none .char-is-friend,
.gender-none.char-is-friend { color: var(--fg-gfriend-ender-none) !important; }
.gender-offline { opacity: 0.5; }

.onlinestatus-offline { color: var(--fg-status-offline); }
.onlinestatus-online { color: var(--fg-status-online); }
.onlinestatus-idle { color: var(--fg-status-idle); }
.onlinestatus-away { color: var(--fg-status-away); }
.onlinestatus-dnd { color: var(--fg-status-dnd); }
.onlinestatus-busy { color: var(--fg-status-busy); }
.onlinestatus-looking { color: var(--fg-status-looking); }
.onlinestatus-crown { color: var(--fg-status-crown); }

.ignored { opacity: 0.4; }



*::-webkit-scrollbar {
    width: 16px;
}
*::-webkit-scrollbar-track {
    background: transparent;
    pointer-events: all;
}
*::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    border-radius: 8px;
    border: 4px solid transparent;
}

*::-webkit-scrollbar-track:hover {
    background: rgba(255, 255, 255, 0.2);
}
*::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.6);
    background-clip: padding-box;
    border-radius: 8px;
    border: 4px solid transparent;
}


.theme-button {
    background: var(--bg-main-textbox-btn);
    color: var(--fg-main-textbox-btn);
    font: inherit;
    border-radius: 6px;
    padding: 0.4em 1.25em;
    border: none;
    outline: none;
    border: 1px solid transparent;
    cursor: pointer;
}
.theme-button:focus {
    border: 1px solid var(--highlight-main-textbox);
}
.theme-button:not(:disabled):hover {
    background: var(--bg-main-textbox-btn-hover);
    color: var(--fg-main-textbox-btn-hover);
}

.theme-button.theme-button-default {
    background: var(--bg-main-textbox-default-btn);
    color: var(--fg-main-textbox-default-btn);
}
.theme-button.theme-button-default:not(:disabled):hover {
    background: var(--bg-main-textbox-default-btn-hover);
    color: var(--fg-main-textbox-default-btn-hover);
}

.theme-button.theme-button-backoff {
    background: var(--bg-main-textbox-backoff-btn);
    color: var(--fg-main-textbox-backoff-btn);
}
.theme-button.theme-button-default:not(:disabled):hover {
    background: var(--bg-main-textbox-backoff-btn-hover);
    color: var(--fg-main-textbox-backoff-btn-hover);
}

.theme-button.theme-button-warning {
    background: var(--bg-main-textbox-warning-btn);
    color: var(--fg-main-textbox-warning-btn);
}
.theme-button.theme-button-warning:not(:disabled):hover {
    background: var(--bg-main-textbox-warning-btn-hover);
    color: var(--fg-main-textbox-warning-btn-hover);
}

.theme-button.theme-button-smaller {
    font-size: 80%;
    padding: 0.12em 0.6em;
}

.theme-button:disabled {
    opacity: 0.5;
    cursor: default;
}

.theme-textbox {
    background: var(--bg-main-textbox);
    color: var(--fg-main-textbox);
    font: inherit;
    padding: 0.1em 0.2em;
    border: none;
    border-bottom: 1px solid transparent;
    outline: none;
}
.theme-textbox:focus {
    border-bottom: 1px solid var(--highlight-main-textbox);
}
.theme-textbox::placeholder {
    font-style: italic;
}

.theme-select {
    background: var(--bg-main-textbox-btn);
    color: var(--fg-main-textbox-btn);
    font: inherit;
    border-radius: 6px;
    padding: 0.4em 0.25em;
    border: 1px solid transparent;
    outline: none;
}
.theme-select:focus {
    border: 1px solid var(--highlight-main-textbox);
}
.theme-select:hover {
    background: var(--bg-main-textbox-btn-hover);
    color: var(--fg-main-textbox-btn-hover);
}

.theme-select.theme-select-smaller {
    font-size: 80%;
    padding: 0.12em 0.6em;
}

.character-link { cursor: pointer; }
.hidden { display: none !important; }