
body {
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --normal-font-size: 14pt;

    --chat-font: 12px Verdana, Tahoma, Geneva, sans-serif;

    --bg-level-1: black;
    --bg-level-2: #232428;
    --bg-level-3: #2b2d31;
    --bg-level-4: #313338;

    --fg-level-1: #b5bac1;
    --fg-level-2: #b5bac1;
    --fg-level-3: #757e8a;
    --fg-level-4: #dbdee1;

    --bg-level-3-highlight: #404249;
    --fg-level-3-highlight: white;

    --dark-border-level-4: #232428;

    --fg-gender-male: #6699FF;
    --fg-gender-male-herm: #007FFF;
    --fg-gender-female: #FF6699;
    --fg-gender-herm: #9B30FF;
    --fg-gender-cunt-boy: #00CC66;
    --fg-gender-transgender: #EE8822;
    --fg-gender-shemale: #CC66FF;
    --fg-gender-none: #FFFFBB;

    --bg-main-textbox: #383a40;
    --fg-main-textbox: #dbdee1;
    --highlight-main-textbox: #CC66FF;

    --bg-main-textbox-btn: #4e5058;
    --fg-main-textbox-btn: white;
    --bg-main-textbox-btn-hover: #60626c;
    --fg-main-textbox-btn-hover: white;

    --bg-main-textbox-default-btn: #9B30FF;
    --fg-main-textbox-default-btn: white;
    --bg-main-textbox-default-btn-hover: #ab52ff;
    --fg-main-textbox-default-btn-hover: white;

    --bg-main-textbox-backoff-btn: transparent;
    --fg-main-textbox-backoff-btn: white;
    --bg-main-textbox-backoff-btn-hover: rgba(255, 255, 255, 0.1);
    --fg-main-textbox-backoff-btn: white;

    --bg-main-textbox-warning-btn: maroon;
    --fg-main-textbox-warning-btn: white;
    --bg-main-textbox-warning-btn-hover: rgb(183, 24, 24);
    --fg-main-textbox-warning-btn-hover: white;

    --bg-scrolldown-message: #4e5058;
    --fg-scrolldown-message: white;
    --bg-scrolldown-alert: #9e007f;
    --fg-scrolldown-alert: #ffffff;

    --fg-unseen-dot: white;
    --ping-icon-fill: red;

    --bg-warning-message: #9e002f;
    --fg-warning-message: white;

    --titlebar-height: 28px;
}