
body {
    font-family: var(--emoji-font-family) , 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --normal-font-size: 14pt;

    --chat-font-size: 12px;
    --chat-font-family: var(--emoji-font-family) , Verdana, Tahoma, Geneva, sans-serif;

    --bg-base-hue: 225;
    --bg-base-sat: 7%;
    --fg-base-sat: calc(var(--bg-base-sat) * 0.35);
    --bg-brightness-scale: 1;
    --fg-brightness-scale: 1;

    --bg-level-1: hsl(var(--bg-base-hue), var(--bg-base-sat), calc(0% * var(--bg-brightness-scale)));  /* black; */
    --bg-level-2: hsl(var(--bg-base-hue), var(--bg-base-sat), calc(15% * var(--bg-brightness-scale))); /* #232428; */
    --bg-level-3: hsl(var(--bg-base-hue), var(--bg-base-sat), calc(18% * var(--bg-brightness-scale))); /* #2b2d31; */
    --bg-level-4: hsl(var(--bg-base-hue), var(--bg-base-sat), calc(21% * var(--bg-brightness-scale))); /* #313338; */

    --fg-level-1: hsl(var(--bg-base-hue), var(--fg-base-sat), calc(73% * var(--fg-brightness-scale))); /* #b5bac1; */
    --fg-level-2: hsl(var(--bg-base-hue), var(--fg-base-sat), calc(73% * var(--fg-brightness-scale))); /* #b5bac1; */
    --fg-level-3: hsl(var(--bg-base-hue), var(--fg-base-sat), calc(50% * var(--fg-brightness-scale))); /* #757e8a; */
    --fg-level-4: hsl(var(--bg-base-hue), var(--fg-base-sat), calc(87% * var(--fg-brightness-scale))); /* #dbdee1; */

    --bg-level-2-highlight: hsl(var(--bg-base-hue), var(--bg-base-sat), calc(24% * var(--bg-brightness-scale)));
    --fg-level-2-highlight: hsl(var(--bg-base-hue), var(--bg-base-sat), calc(100% * var(--fg-brightness-scale)));

    --bg-level-3-highlight: hsl(var(--bg-base-hue), var(--fg-base-sat), calc(27% * var(--bg-brightness-scale))); /* #404249; */
    --fg-level-3-highlight: hsl(var(--bg-base-hue), var(--fg-base-sat), calc(100% * var(--fg-brightness-scale)));

    --bg-level-4-highlight: hsl(var(--bg-base-hue), var(--fg-base-sat), calc(30% * var(--bg-brightness-scale))); /* #404249; */
    --fg-level-4-highlight: hsl(var(--bg-base-hue), var(--fg-base-sat), calc(100% * var(--fg-brightness-scale)));

    --bg-level-2-hover: hsl(var(--bg-base-hue), calc(var(--bg-base-sat) * 0.65), calc(27% * var(--bg-brightness-scale)));
    --fg-level-2-hover: hsl(var(--bg-base-hue), var(--fg-base-sat), calc(100% * var(--fg-brightness-scale)));
    --bg-level-3-hover: hsl(var(--bg-base-hue), calc(var(--bg-base-sat) * 0.65), calc(30% * var(--bg-brightness-scale)));
    --fg-level-2-hover: hsl(var(--bg-base-hue), var(--fg-base-sat), calc(100% * var(--fg-brightness-scale)));
    --bg-level-4-hover: hsl(var(--bg-base-hue), calc(var(--bg-base-sat) * 0.65), calc(33% * var(--bg-brightness-scale)));
    --fg-level-4-hover: hsl(var(--bg-base-hue), var(--fg-base-sat), calc(100% * var(--fg-brightness-scale)));

    --border-level-2: hsl(var(--bg-base-hue), var(--fg-base-sat), calc(25% * var(--bg-brightness-scale))); /* #b5bac1; */
    --border-level-4: hsl(var(--bg-base-hue), var(--fg-base-sat), calc(31% * var(--bg-brightness-scale))); /* #b5bac1; */

    --dark-border-level-4: hsl(var(--bg-base-hue), var(--bg-base-sat), calc(15% * var(--bg-brightness-scale))); /* #232428; */

    --tooltip-border: hsl(var(--bg-base-hue), var(--bg-base-sat), calc(35% * var(--bg-brightness-scale))); /* #232428; */

    --fg-gender-male: #6699FF;
    --fg-gender-male-herm: #007FFF;
    --fg-gender-female: #FF6699;
    --fg-gender-herm: #9B30FF;
    --fg-gender-cunt-boy: #00CC66;
    --fg-gender-transgender: #EE8822;
    --fg-gender-shemale: #CC66FF;
    --fg-gender-male-trans: #5bcefa;
    --fg-gender-female-trans: #f5a9ba;
    --fg-gender-intersex: #ae9487;
    --fg-gender-nonbinary: #16b78e;
    --fg-gender-none: #FFFFBB;

    --fg-friend-gender-male: var(--fg-gender-male);
    --fg-friend-gender-male-herm: var(--fg-gender-male-herm);
    --fg-friend-gender-female: var(--fg-gender-female);
    --fg-friend-gender-herm: var(--fg-gender-herm);
    --fg-friend-gender-cunt-boy: var(--fg-gender-cunt-boy);
    --fg-friend-gender-transgender: var(--fg-gender-transgender);
    --fg-friend-gender-shemale: var(--fg-gender-shemale);
    --fg-friend-gender-male-trans: var(--fg-gender-male-trans);
    --fg-friend-gender-female-trans: var(--fg-gender-female-trans);
    --fg-friend-gender-intersex: var(--fg-gender-intersex);
    --fg-friend-gender-nonbinary: var(--fg-gender-nonbinary);
    --fg-friend-gender-none: var(--fg-gender-none);

    --fg-status-offline: #444;
    --fg-status-online: #55f;
    --fg-status-idle: #33a;
    --fg-status-away: #aa4;
    --fg-status-dnd: #c44; 
    --fg-status-busy: #811;
    --fg-status-looking: #8f8;
    --fg-status-crown: #ff0;

    --bg-main-textbox: hsl(var(--bg-base-hue), var(--bg-base-sat), calc(24% * var(--bg-brightness-scale))); /* #383a40; */
    --fg-main-textbox: hsl(var(--bg-base-hue), var(--fg-base-sat), calc(87% * var(--fg-brightness-scale))); /* #dbdee1; */
    --highlight-main-textbox: #CC66FF;

    --bg-main-textbox-btn: hsl(var(--bg-base-hue), var(--bg-base-sat), calc(33% * var(--bg-brightness-scale))); /* #4e5058; */
    --fg-main-textbox-btn: hsl(var(--bg-base-hue), var(--fg-base-sat), calc(100% * var(--fg-brightness-scale)));
    --bg-main-textbox-btn-hover: hsl(var(--bg-base-hue), var(--bg-base-sat), calc(40% * var(--bg-brightness-scale))); /* #60626c; */
    --fg-main-textbox-btn-hover: hsl(var(--bg-base-hue), var(--fg-base-sat), calc(100% * var(--fg-brightness-scale)));

    --bg-main-textbox-default-btn: #9b30ff63;
    --fg-main-textbox-default-btn: hsl(var(--bg-base-hue), var(--fg-base-sat), calc(100% * var(--fg-brightness-scale)));
    --bg-main-textbox-default-btn-hover: #ab52ff;
    --fg-main-textbox-default-btn-hover: hsl(var(--bg-base-hue), var(--fg-base-sat), calc(100% * var(--fg-brightness-scale)));

    --bg-main-textbox-cancel-btn: hsl(var(--bg-base-hue), var(--bg-base-sat), calc(23% * var(--bg-brightness-scale)));
    --fg-main-textbox-cancel-btn: hsl(var(--bg-base-hue), var(--fg-base-sat), calc(100% * var(--fg-brightness-scale)));
    --bg-main-textbox-cancel-btn-hover: hsl(var(--bg-base-hue), var(--bg-base-sat), calc(33% * var(--bg-brightness-scale)));
    --fg-main-textbox-cancel-btn-hover: hsl(var(--bg-base-hue), var(--fg-base-sat), calc(100% * var(--fg-brightness-scale)));

    --bg-main-textbox-backoff-btn: hsl(var(--bg-base-hue), var(--bg-base-sat), calc(23% * var(--bg-brightness-scale)));
    --fg-main-textbox-backoff-btn: hsl(var(--bg-base-hue), var(--fg-base-sat), calc(100% * var(--fg-brightness-scale)));
    --bg-main-textbox-backoff-btn-hover: hsl(var(--bg-base-hue), var(--bg-base-sat), calc(33% * var(--bg-brightness-scale)));
    --fg-main-textbox-backoff-btn-hover: hsl(var(--bg-base-hue), var(--fg-base-sat), calc(100% * var(--fg-brightness-scale)));

    --bg-main-textbox-warning-btn: maroon;
    --fg-main-textbox-warning-btn: hsl(var(--bg-base-hue), var(--fg-base-sat), calc(100% * var(--fg-brightness-scale)));
    --bg-main-textbox-warning-btn-hover: rgb(183, 24, 24);
    --fg-main-textbox-warning-btn-hover: hsl(var(--bg-base-hue), var(--fg-base-sat), calc(100% * var(--fg-brightness-scale)));

    --bg-scrolldown-message: hsl(var(--bg-base-hue), var(--bg-base-sat), calc(33% * var(--bg-brightness-scale))); /* #4e5058; */
    --fg-scrolldown-message: hsl(var(--bg-base-hue), var(--fg-base-sat), calc(100% * var(--fg-brightness-scale)));
    --bg-scrolldown-alert: #9e007f;
    --fg-scrolldown-alert: hsl(var(--bg-base-hue), var(--fg-base-sat), calc(100% * var(--fg-brightness-scale)));

    --fg-unseen-dot: hsl(var(--bg-base-hue), var(--fg-base-sat), calc(100% * var(--fg-brightness-scale)));
    --ping-icon-fill: red;

    --bg-warning-message: #9e002f;
    --fg-warning-message: hsl(var(--bg-base-hue), var(--fg-base-sat), calc(100% * var(--fg-brightness-scale)));

    --titlebar-height: 28px;


    --bg-toast: hsl(var(--bg-base-hue), var(--bg-base-sat), calc(29% * var(--bg-brightness-scale))); /* #313338; */
    --fg-toast: hsl(var(--bg-base-hue), var(--fg-base-sat), calc(92% * var(--fg-brightness-scale))); /* #dbdee1; */
    --bg-toast-invite: #205020;
    --fg-toast-invite: #f0f0f0;
    --bg-toast-note: #505020;
    --fg-toast-note: #f0f0f0;
}