
body {
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --normal-font-size: 14pt;

    --chat-font-size: 12px;
    --chat-font-family: Verdana, Tahoma, Geneva, sans-serif;

    --bg-base-hue: 225;
    --bg-base-sat: 7%;
    --fg-base-sat: calc(var(--bg-base-sat) * 0.35);
    --bg-level-1: hsl(var(--bg-base-hue), var(--bg-base-sat), 0%);  /* black; */
    --bg-level-2: hsl(var(--bg-base-hue), var(--bg-base-sat), 15%); /* #232428; */
    --bg-level-3: hsl(var(--bg-base-hue), var(--bg-base-sat), 18%); /* #2b2d31; */
    --bg-level-4: hsl(var(--bg-base-hue), var(--bg-base-sat), 21%); /* #313338; */

    --fg-level-1: hsl(var(--bg-base-hue), var(--fg-base-sat), 73%); /* #b5bac1; */
    --fg-level-2: hsl(var(--bg-base-hue), var(--fg-base-sat), 73%); /* #b5bac1; */
    --fg-level-3: hsl(var(--bg-base-hue), var(--fg-base-sat), 50%); /* #757e8a; */
    --fg-level-4: hsl(var(--bg-base-hue), var(--fg-base-sat), 87%); /* #dbdee1; */

    --bg-level-2-highlight: hsl(var(--bg-base-hue), var(--bg-base-sat), 24%);
    --fg-level-2-highlight: white;

    --bg-level-3-highlight: hsl(var(--bg-base-hue), var(--bg-base-sat), 27%); /* #404249; */
    --fg-level-3-highlight: white;

    --bg-level-2-hover: hsl(var(--bg-base-hue), calc(var(--bg-base-sat) * 0.65), 27%);
    --fg-level-2-hover: white;

    --border-level-2: hsl(var(--bg-base-hue), var(--fg-base-sat), 25%); /* #b5bac1; */

    --dark-border-level-4: hsl(var(--bg-base-hue), var(--bg-base-sat), 15%); /* #232428; */

    --tooltip-border: hsl(var(--bg-base-hue), var(--bg-base-sat), 35%); /* #232428; */

    --fg-gender-male: #6699FF;
    --fg-gender-male-herm: #007FFF;
    --fg-gender-female: #FF6699;
    --fg-gender-herm: #9B30FF;
    --fg-gender-cunt-boy: #00CC66;
    --fg-gender-transgender: #EE8822;
    --fg-gender-shemale: #CC66FF;
    --fg-gender-none: #FFFFBB;

    --fg-friend-gender-male: var(--fg-gender-male);
    --fg-friend-gender-male-herm: var(--fg-gender-male-herm);
    --fg-friend-gender-female: var(--fg-gender-female);
    --fg-friend-gender-herm: var(--fg-gender-herm);
    --fg-friend-gender-cunt-boy: var(--fg-gender-cunt-boy);
    --fg-friend-gender-transgender: var(--fg-gender-transgender);
    --fg-friend-gender-shemale: var(--fg-gender-shemale);
    --fg-friend-gender-none: var(--fg-gender-none);

    --bg-main-textbox: hsl(var(--bg-base-hue), var(--bg-base-sat), 24%); /* #383a40; */
    --fg-main-textbox: hsl(var(--bg-base-hue), var(--fg-base-sat), 87%); /* #dbdee1; */
    --highlight-main-textbox: #CC66FF;

    --bg-main-textbox-btn: hsl(var(--bg-base-hue), var(--bg-base-sat), 33%); /* #4e5058; */
    --fg-main-textbox-btn: white;
    --bg-main-textbox-btn-hover: hsl(var(--bg-base-hue), var(--bg-base-sat), 40%); /* #60626c; */
    --fg-main-textbox-btn-hover: white;

    --bg-main-textbox-default-btn: #9B30FF;
    --fg-main-textbox-default-btn: white;
    --bg-main-textbox-default-btn-hover: #ab52ff;
    --fg-main-textbox-default-btn-hover: white;

    --bg-main-textbox-backoff-btn: transparent;
    --fg-main-textbox-backoff-btn: white;
    --bg-main-textbox-backoff-btn-hover: rgba(255, 255, 255, 0.1);
    --fg-main-textbox-backoff-btn: white;

    --bg-main-textbox-warning-btn: maroon;
    --fg-main-textbox-warning-btn: white;
    --bg-main-textbox-warning-btn-hover: rgb(183, 24, 24);
    --fg-main-textbox-warning-btn-hover: white;

    --bg-scrolldown-message: hsl(var(--bg-base-hue), var(--bg-base-sat), 33%); /* #4e5058; */
    --fg-scrolldown-message: white;
    --bg-scrolldown-alert: #9e007f;
    --fg-scrolldown-alert: #ffffff;

    --fg-unseen-dot: white;
    --ping-icon-fill: red;

    --bg-warning-message: #9e002f;
    --fg-warning-message: white;

    --titlebar-height: 28px;
}