
#elMain {
    display: contents;
}

#elMain > div {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "groups"
        "stream";

    .timerange-group-container { grid-area: groups; }
}

.timerange-group-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--bg-level-4);
    color: var(--fg-level-4);

    .timerange-group {
        display: inline-block;
        padding: 3px 8px;
        border: 1px solid var(--fg-level-4);
        border-radius: 6px;
        margin: 5px;
        cursor: pointer;

        &.is-selected {
            background: var(--fg-level-4);
            color: var(--bg-level-4);
        }
    }
}