
:host {
    position: absolute;

    color: var(--fg-level-3);
    overflow: auto;

    border: calc(1px / var(--device-pixel-ratio)) solid var(--tooltip-border);
    padding: 5px 5px;
    border-radius: 9px;

    background-color: color-mix(in srgb, var(--bg-level-3) 80%, transparent) ;
    backdrop-filter: var(--blur-8px);
}

@supports (background-color: if(style(--blur-disabled: true): red; else: blue;)) {
    :host {
        background-color: if(
            style(--blur-disabled: true): var(--bg-level-3);
            else: color-mix(in srgb, var(--bg-level-3) 80%, transparent);
        );
    }
}

@supports not (backdrop-filter: blur(8px)) {
    :host {
        background-color: var(--bg-level-3);
    }
}

#elMain {
}