:host {
    border: 1px solid black !important;

    --popup-bg: var(--bg-level-2);
    background-color: var(--popup-bg) !important;
    color: var(--fg-level-2)  !important;
    padding: 0px 0px !important;
}

#elMain {
    width: 300px;
    height: auto;

    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas: 
        "avatar name"
        "onlinestatus onlinestatus"
        "statusmessage statusmessage"
        "charsused charsused";

    padding: 15px 15px;
}
.avatar-image { grid-area: avatar; }
.status-dot-container { grid-area: avatar; }
.character-name { grid-area: name; }
.online-status-container { grid-area: onlinestatus; }
.current-status-message-container { grid-area: statusmessage; }

.avatar-image {
    width: 48px;
    height: 48px;
    margin-bottom: 8px;
}
.status-dot-container {
    justify-self: end;
    align-self: end;
    font-size: 110%;
    margin-bottom: 8px;
    -webkit-text-stroke: 4px var(--popup-bg);

    x-litestatusdot {
        box-shadow: 0 0 0 4px var(--popup-bg);
    }

    &:has(x-litestatusdot) {
        margin-bottom: 6px;
        margin-right: -1px;
    }
}

.character-name {
    margin-left: 8px;
    margin-bottom: 8px;
    font-size: 110%;
    font-weight: bold;
    align-self: center;
}

.online-status-container {
    margin-bottom: 8px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto 1fr;
    grid-template-areas: "label dropdown .";
}
.online-status-label { grid-area: label; }
.online-status-select { grid-area: dropdown; }

.online-status-label {
    align-self: center;
}
.online-status-select {
    margin-left: 8px;
    align-self: center;

    border: none;
    outline: none;
    background: var(--bg-main-textbox-btn);
    color: var(--fg-main-textbox-btn);
    padding: 6px;
    border-radius: 8px;
}

.current-status-message-container {

    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 100%;
    grid-template-areas:
        "statustext"
        "editbutton";
}
.current-status-message { grid-area: statustext; }
.current-status-message-container > button { grid-area: editbutton; }

.current-status-message { 
    display: none;
    
    background: var(--bg-level-1);
    color: var(--fg-level-1);
    font-size: var(--chat-font-size);
    font-family: var(--chat-font-family);
    border-radius: 8px;
    border: none;
    outline: none;
    padding: 8px 8px;
    margin-left: -8px;
    margin-right: -8px;

    margin-bottom: 8px;
}
.current-status-message.has-status { display: block; }
.current-status-message-container button {
    margin-left: auto;
}