
:host {
    position: absolute;

    border: calc(1px / var(--device-pixel-ratio)) solid var(--tooltip-border);
    padding: 5px 5px;
    border-radius: 9px;
    background-color: color-mix(in srgb, var(--bg-level-3) 80%, transparent) ;
    backdrop-filter: blur(8px);
    color: var(--fg-level-3);
    overflow: auto;

    box-sizing: border-box;
}

@supports not (backdrop-filter: blur(8px)) {
    :host {
        background-color: var(--bg-level-3);
    }
}