
:host {
    padding: 0px 0px !important;
}

#elMain {
    max-width: 550px;

    /*background-color: var(--bg-level-2);
    color: var(--fg-level-2);*/
}

#elContent {
    display: flex;
    flex-direction: column;

    overflow-x: hidden;
    overflow-y: auto;
}

.menu-item {
    padding: 7px 16px;
    font-size: 85%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

.menu-separator {
    margin-top: 2px;
    margin-bottom: 2px;

    height: calc(1px / var(--device-pixel-ratio));

    border-bottom: 1px solid var(--tooltip-border);
}

.menu-item.highlighted:not(.disabled) {
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--fg-level-3-highlight);
}

.disabled {
    opacity: 0.5;
}

.menu-item-text {
}