
:host {
    pointer-events: none !important;
    padding: 0px 0px !important;
}

#elMain {
    pointer-events: none;

    max-width: 350px;

    background-color: var(--bg-level-2);
    color: var(--fg-level-2);

    font: var(--chat-font);
}

.tooltip-title {
    pointer-events: none;
    background-color: var(--bg-level-4);
    color: var(--fg-level-4);
    padding: 5px 5px;
    font-weight: bold;
}
.tooltip-body {
    pointer-events: none;
    padding: 5px 5px;
}