.title-additionaltext {
    &.has-unseen-dot {
        color: white;
        font-size: 50% !important;
    }

    .ping-icon {
        color: red;
        width: 10px;
        height: 10px;
        max-width: 10px;
        max-height: 10px;
    }
}