
:host {
    display: contents;
}

#elMain {
    display: block;
    padding-top: 3px;
    padding-bottom: 3px;
}

#elMain.ad {
    /* background-color: rgba(0, 255, 100, 0.1); */
}
#elMain.emote {
    font-style: italic;
}

.timestamp {
    display: inline;

    font-size: 70%;
}

.ad-flag {
    display: inline-grid;
    grid-template-rows: 1fr auto 1fr;
    grid-template-columns: auto;
    grid-template-areas: "." "inner" ".";
}
.ad-flag-inner {
    grid-area: inner;
    max-width: 14px;
    max-height: 14px;
}

.character-status {
    font-style: normal;
}
.character-status-spacer {
    -webkit-user-select: none;
    user-select: none;
}

.character {
    display: inline;
    font-weight: bold;
}

.messagetext {
    display: inline;
    /* background: inherit; */
}
