
:host {
    display: block;
    position: relative;
    contain: strict;

    margin-left: calc(0px - var(--chatui-splitterhandle-width));
    width: calc(100% + 8px) !important;
}

#elMain {
    width: calc(100% - 8px);
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;

    padding-left: var(--chatui-splitterhandle-width);

    background-color: var(--bg-level-4);
    color: var(--fg-level-4);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto minmax(0, 1fr) 6px auto;
    grid-template-areas:
        "header"
        "main"
        "splitter"
        "textbox";
}
#elMain > * {
    contain: layout paint;
}

.header { grid-area: header; contain: strict; margin-left: calc(0px - var(--chatui-splitterhandle-width)); width: 100%; overflow: hidden; }
.contentarea { grid-area: main; contain: strict;  }
.tbsplitterhandle { grid-area: splitter; contain: strict;  }
.textbox { grid-area: textbox; contain: strict;  }

.contentarea {
    position: relative;
    display: grid;
    grid-template-columns: 1fr minmax(0px, 6px) auto;
    grid-template-rows: 1fr;
    grid-template-areas:
        "stream splitter userlist";
        
    overflow: hidden;
    contain: paint;
    
    margin-left: calc(0px - var(--chatui-splitterhandle-width));

    background: var(--bg-level-3); 
    /* background: inherit; */
}

/* #elMain.is-channel .contentarea {
    grid-template-columns: 1fr minmax(0px, 6px) auto;
    grid-template-rows: 1fr;
    grid-template-areas:
        "stream splitter userlist";
}
#elMain.is-pmconvo .contentarea,
#elMain.is-console .contentarea {
    grid-template-columns: 1fr 6px;
    grid-template-rows: 1fr;
    grid-template-areas:
        "stream .";
} */

.stream { grid-area: stream; }
.casplitterhandle { grid-area: splitter; width: 6px; }
.userlist { grid-area: userlist; }

.userlist {
    overflow: hidden;
}