
:host {
    display: contents;
}

#elMain {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto minmax(0, 1fr);
    grid-template-areas:
        "statusdot name";

    align-items: baseline;
    padding: 0 10px;
    gap: 4px;

    font-size: var(--chat-font-size);
    font-family: var(--chat-font-family);
    font-weight: bold;
}

.statusdot { grid-area: statusdot; }
.name { grid-area: name; }