
:root {
    display: block;
    position: relative;
}

* { box-sizing: border-box; }

#elMain {
    width: 100%;
    height: 48px;

    background: var(--bg-level-4);
    color: var(--fg-level-4);

    border-bottom: 2px solid var(--dark-border-level-4);

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto 1fr auto;
    grid-template-areas:
        "icon title onlinestatus descriptionarea configiconcontainer";

    align-items: center;

    padding: 6px 10px 6px 10px;
    overflow: hidden;
}

.icon {
    grid-area: icon;

    width: 32px;
    height: 32px;
    max-width: 32px;
    max-height: 32px;
    --iconimage-max-width: 32px;
    --iconimage-max-height: 32px;

    margin-right: 10px;
}

.title {
    grid-area: title;

    font-weight: bold;

    .nickname {
        font-weight: normal;
    }
}

.online-status-container { grid-area: onlinestatus; display: none; }

.pmconvo .online-status-container { 
    display: flex; 
    flex-direction: row;
    align-items: baseline;
    gap: 3px;
    font-size: 75%;
    margin-left: 10px;
}
.pmconvo .online-status-container .online-status-text {
    opacity: 0.5;
}

.descriptionarea { grid-area: descriptionarea; }
.descriptioncontainer { grid-area: description; }
.descriptionshowmore { grid-area: descshowmore; }

.descriptionshowmore {

}

.descriptionshowmore.shown {
    display: block;
}

#elFilter {
    grid-area: filter;
    flex-shrink: 1;

    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: 20px;
}

#elFilterIcon {
    width: 20px;
    height: 20px;
    max-width: 20px;
    max-height: 20px;
    margin-right: 8px;
    --iconimage-max-width: 20px;
    --iconimage-max-height: 20px;
}

select {
    border: none;
    outline: none;

    background: var(--bg-main-textbox-btn);
    color: var(--fg-main-textbox-btn);
    padding: 6px 6px;

    border-radius: 8px;
}

#elConfigIconContainer {
    grid-area: configiconcontainer;
    margin-left: 10px;
    cursor: pointer;
}
#elConfigIconContainer > x-iconimage {
    max-width: 20px;
    max-height: 20px;
    --iconimage-max-width: 20px;
    --iconimage-max-height: 20px;
}

/* #elDescriptionContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#elDescriptionContainer { overflow: hidden; } */


.descriptionarea {
    grid-area: descriptionarea;
    
    --desc-vpadding: 4px;
    max-height: 1lh;

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr auto;
    grid-template-areas:
        "description descshowmore";

    margin-left: 20px;
    overflow: hidden;
}
.descriptionareainner {
    position: relative;
}

.descriptioncontainer {
    position: relative;
    overflow: hidden;
    /* container: description-text-full / size; */
}

.descriptioncontainerinner {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.descriptiontext { 
    grid-area: desc;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 
}
.descriptiontextsizer {
    visibility: hidden;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: min-content;
    display: block;
}

.descriptionvisiblecontainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    container: description-text-full / size;

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: minmax(0, min-content) auto 1fr;
    grid-template-areas: "text button";

    .descriptiontext { 
        grid-area: text; 
    }
    .descriptionshowmore { 
        grid-area: button; 
        display: none;
        background: var(--bg-main-textbox-btn);
        color: var(--fg-main-textbox-btn);
        font-size: 75%;
        margin-left: 5px;
        border: none;
        outline: none;
        border-radius: 5px;
        height: calc(1lh + var(--desc-vpadding));
    }
}

@container description-text-full (height > 1.5lh) {
    .descriptionshowmore {
        display: block !important;
    }
}

#elDescriptionText {
    opacity: 0.5;
}

button { font: inherit; }

.descriptioncontainer .bbcode-eicon,
.descriptioncontainer .bbcode-icon > img {
    height: 24px;
    width: 24px;
    max-height: 24px;
    max-width: 24px;
}