
:host {
    display: block;
    position: relative;

    width: 100%;
    height: 100%;
}

* { box-sizing: border-box; }

#elMain {
    display: block;
    width: 100%;
    height: 100%;

    background-color: var(--bg-level-3);
    color: var(--fg-level-3);

    overflow-x: hidden;
    overflow-y: auto;

    contain: layout paint;
}

.search-container {
    display: contents;
}
#elMain:has(.search-textbox) .search-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr auto;
    grid-template-areas: "textbox icon";
}

.search-toggle-icon {
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    cursor: pointer;

    &:hover {
        background: var(--bg-level-2);
    }
}

#elMain:has(.search-textbox) .search-toggle-icon {
    float: none;
    grid-area: icon;
}
.search-textbox {
    grid-area: textbox;
    border: none;
    background: var(--bg-level-2);
    color: var(--fg-level-2);
    margin-top: 8px;
    margin-left: 8px;
    padding: 1px 4px;
    display: block;
    outline: none;
    border: 1px solid transparent;
    font: inherit;

    &:focus {
        border: 1px solid var(--fg-level-2);
    }
}

.search-toggle-icon-image {
    max-width: 16px;
    max-height: 16px;
}

.usercount {
    font-size: 80%;
    font-variant: small-caps;
    text-transform: uppercase;
    padding: 10px;
}

.section {
    padding-bottom: 10px;
    contain: layout paint;
}

.sectiontitle {
    font-size: 80%;
    font-variant: small-caps;
    text-transform: uppercase;
    padding: 10px;
    contain: layout paint;
}
.sectionitems {
    contain: layout paint;
}

.hidden {
    display: none;
}

.useritem {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto minmax(0, 1fr);
    grid-template-areas:
        "statusdot name";

    align-items: baseline;
    padding: 0 10px;
    gap: 4px;

    font-size: var(--chat-font-size);
    font-family: var(--chat-font-family);
    font-weight: bold;

    overflow: hidden;
    max-width: 100%;
    contain: layout paint size;

    width: 100%;
    height: 16px;
}

.statusdot { grid-area: statusdot; }
.name { grid-area: name; }

.name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.character-link {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.nickname {
    font-weight: normal;
}