
:host {
    display: block;
    position: relative;

    width: 100%;
    height: 100%;
}

* { box-sizing: border-box; }

#elMain {
    display: block;
    width: 100%;
    height: 100%;

    background-color: var(--bg-level-3);
    color: var(--fg-level-3);

    overflow-x: hidden;
    overflow-y: auto;

    contain: layout paint;
}

.search-container {
    display: contents;
}
#elMain:has(.search-textbox) .search-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr auto;
    grid-template-areas: "textbox icon";
}

.search-toggle-icon {
    float: right;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 5px;
    padding-bottom: 5px;
}

#elMain:has(.search-textbox) .search-toggle-icon {
    float: none;
    grid-area: icon;
}
.search-textbox {
    grid-area: textbox;
    border: none;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    margin-top: 8px;
    margin-left: 8px;
    padding: 2px;
    display: block;
}

.usercount {
    font-size: 80%;
    font-variant: small-caps;
    text-transform: uppercase;
    padding: 10px;
}

.section {
    padding-bottom: 10px;
    contain: layout paint;
}

.sectiontitle {
    font-size: 80%;
    font-variant: small-caps;
    text-transform: uppercase;
    padding: 10px;
    contain: layout paint;
}
.sectionitems {
    contain: layout paint;
}

.hidden {
    display: none;
}

.useritem {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto minmax(0, 1fr);
    grid-template-areas:
        "statusdot name";

    align-items: baseline;
    padding: 0 10px;
    gap: 4px;

    font-size: var(--chat-font-size);
    font-family: var(--chat-font-family);
    font-weight: bold;

    overflow: hidden;
    max-width: 100%;
    contain: layout paint size;

    width: 100%;
    height: 16px;
}

.statusdot { grid-area: statusdot; }
.name { grid-area: name; }

.name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.character-link {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.nickname {
    font-weight: normal;
}