
:host {
    display: contents;
}

#elMain {
    max-width: 100%;
    overflow: hidden;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto minmax(0, 1fr);
    grid-template-areas:
        "filtersbar"
        "messagecontainer";

    background: var(--bg-level-4);

    --ad-collapse-max-height-numeric: 40;
}

.filtersbar {
    /* display: none; */
    grid-area: filtersbar;
    height: 30px;
    max-width: 100%;

    background: var(--bg-level-3);
}

.messagecontainerouter {
    grid-area: messagecontainer;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    height: 100%;
    user-select: text;
    overflow: hidden;

    margin-left: var(--chatui-splitterhandle-width);

    position: relative;

    /* background: inherit; */

    contain: strict;
}

.messagecontainer {
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: none;
}


.highlight-from-me .from-me {
    background-color: rgba(255, 255, 255, 0.05);
}



.typingstatusindicator { user-select: none; }
.messageitem.typingstatusindicator {
    padding: 3px 0px; 
    border-bottom: 1px solid transparent;
    min-height: 1em;
}

.messageitem.typingstatusindicator .messagetext {
    font-size: 75%;
}