
:host {
    display: contents;
}

#elMain {
    display: contents;
}

.collapsebutton {
    display: inline-block;
    width: 1.21em;
    height: 1.21em;
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    background-color: inherit;
    color: inherit;
}

.collapsearrow {
    width: 1.21em;
    height: 1.21em;
    max-width: 1.21em;
    max-height: 1.21em;
    transform: rotate(0deg);
    transition: transform 0.25s;
    --iconimage-max-width: 1.21em;
    --iconimage-max-height: 1.21em;
}

.collapsearrow.collapsed {
    transform: rotate(-90deg);
}

#elMain.noanimation .collapsearrow {
    transition: none !important;
}