
#elMain {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
    grid-template-areas: "friends-col bookmarks-col";

    max-height: 100%;

    .friends-column { grid-area: friends-col; }
    .bookmarks-column { grid-area: bookmarks-col; }
}

* { box-sizing: border-box; }

.friends-column {
    display: flex;
    flex-direction: column;

    max-height: 100%;
    overflow: clip;

    .friendrequests-section {
        flex-grow: 1;
        justify-self: start;
        height: auto;
        max-height: 50%;
    }
    .friends-section {
        flex-shrink: 1;
        justify-self: stretch;
        height: auto;
        overflow: hidden;
    }   
}

.section {
    flex-grow: 1;

    max-height: 100%;
    overflow: clip;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "title"
        "list"
        "buttons";
    gap: 8px;
    padding: 8px;

    .section-title { 
        grid-area: title; 
        font-weight: bold;
        font-size: 120%;
    }
    .section-list {
        overflow-y: scroll;
        background-color: var(--bg-level-3);
        padding: 5px 5px;

        .friends-list-group,
        .friendrequests-list-group {
            margin-bottom: 10px;
            &:last-child { margin-bottom: 0; }

            .friends-list-group-title,
            .friendrequests-list-group-title {
                display: grid;
                grid-template-rows: auto;
                grid-template-columns: auto 1fr;
                align-items: center;
                gap: 7px;
                .friends-list-group-title-text,
                .friendrequests-list-group-title-text {
                    font-weight: bold;
                }
                .friends-list-group-title-line,
                .friendrequests-list-group-title-line {
                    border-bottom: 1px solid currentColor;
                    opacity: 0.2;
                }
            }
        }
    }
    .section-buttons {
    }
}

.friends-list-item,
.bookmarks-list-item  {
    .character-link {
        display: block;
        padding: 6px;
    }

    &:hover:not(.selected) {
        background-color: rgba(255, 255, 255, 0.05);
    }
    &.selected {
        background-color: rgba(255, 255, 255, 0.1);
    }
}

.friendrequests-list-item {
    display: flex;
    flex-direction: row;
    gap: 7px;
    padding: 6px;

    .friendrequests-list-item-name {
        flex-grow: 1;
    }

    &:hover:not(.selected) {
        background-color: rgba(255, 255, 255, 0.05);
    }    
}