
#elMain {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
    grid-template-areas: "friends-col bookmarks-col";

    max-height: 100%;

    .friends-column { grid-area: friends-col; }
    .bookmarks-column { grid-area: bookmarks-col; }
}

* { box-sizing: border-box; }

.friends-column {
    display: flex;
    flex-direction: column;

    .friendrequests-section {
        flex-shrink: 1;
        flex-grow: 1;
    }
    
}

.section {
        flex-grow: 1;

        max-height: 100%;
        overflow: clip;

        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
            "title"
            "list"
            "buttons";
        gap: 8px;
        padding: 8px;

        .section-title { 
            grid-area: title; 
            font-weight: bold;
            font-size: 120%;
        }
        .section-list {
            overflow-y: scroll;
            background-color: var(--bg-level-3);
            padding: 5px 5px;

            .friends-list-group {
                margin-bottom: 10px;
                &:last-child { margin-bottom: 0; }

                .friends-list-group-title {
                    display: grid;
                    grid-template-rows: auto;
                    grid-template-columns: auto 1fr;
                    align-items: center;
                    gap: 7px;
                    .friends-list-group-title-text {
                        font-weight: bold;
                    }
                    .friends-list-group-title-line {
                        border-bottom: 1px solid currentColor;
                        opacity: 0.2;
                    }
                }

                .friends-list-group-items {
                    .friends-list-item {
                        padding: 6px;
                        &:hover {
                            background-color: rgba(255, 255, 255, 0.1);
                        }
                    }
                }
            }
        }
        .section-buttons {
        }
    }