
#elMain {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "title"
        "list";

    .ignorelist-title { 
        grid-area: title; 
        font-weight: bold;
        font-size: 110%;
        padding: 6px 6px;
    }
    .ignorelist-list { 
        grid-area: list; 

        overflow-y: scroll;
        background-color: var(--bg-level-3);
        color: var(--fg-level-3);

        .ignorelist-item {
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: auto 1fr;
            grid-template-areas: "buttons name";
            padding: 4px 4px;
            gap: 8px;

            &:hover {
                background-color: rgba(255, 255, 255, 0.05);
            }

            .ignorelist-item-name { grid-area: name; }

            .ignorelist-item-buttons {
                grid-area: buttons;
                margin-left: auto;

                button {
                    zoom: 0.75;
                    padding: 2px 8px;
                }
            }
        }
    }
}