:host {
    pointer-events: none;;
}

* { box-sizing: border-box; }

#elMain {
    width: 100%;
    height: 100%;
    position: relative;
}

.toasts-container {
    position: absolute;
    bottom: 0px;
    padding: 10px 10px;
    min-width: 100%;
}

.toasts-toast {
    transform-origin: top center;

    pointer-events: all;
    padding: 4px 4px;
    margin-top: 6px;
    font-family: var(--chat-font-family);
    font-size: 65%;
    border-radius: 4px;
}
.toasts-toast.newshow {
    animation: toast-show 200ms 100ms cubic-bezier(0.38, 0.97, 0.56, 0.76) forwards;
    opacity: 0;
    transform: translateY(10%);
}
.toasts-toast.alreadyshown {
    opacity: 1;
    transform: none;
}
.toasts-toast.removing {
    animation: toast-remove 200ms 100ms cubic-bezier(0.38, 0.97, 0.56, 0.76) forwards;
    opacity: 1;
    transform: none;
    pointer-events: none;
}

.toasts-toast.clickable { cursor: pointer; }

@keyframes toast-show {
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes toast-remove {
  100% {
    opacity: 0;
    transform: translateY(-10%);
  }
}

.toasts-toast-close {
    float: right;
    cursor: pointer;
    border: none;
    background: transparent;
}
.toasts-toast-close:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

.toasts-toast-close-icon {
    width: 15px;
    height: 15px;
    max-width: 15px;
    max-height: 15px;
}

.toasts-toast-title {
    font-weight: bold;
    margin-bottom: 2px;
}
.toasts-toast-description {
    padding: 0px 1px;
}
.toasts-toast-buttons {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 7px;
    gap: 3px;
}
.toasts-toast-button {
    clear: both;
    outline: none;
    border: 1px solid currentColor;
    padding: 2px 8px;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}
.toasts-toast-button:hover {
    background-color: rgba(255, 255, 255, 0.25);   
}