:host {
    display: block;
    position: relative;
}

* { box-sizing: border-box; }

#elMain {
    width: 100%;
    height: 100%;

    background-color: var(--bg-level-3);
    color: var(--fg-level-3);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto auto auto;
    grid-template-areas:
        "listselectpanel"
        "main"
        "disconnectedwarning"
        "characterpanel"
        "instanceselectpanel";

    overflow: hidden;
    contain: layout paint size;
}

#elListSelectPanel {
    grid-area: listselectpanel;

    width: 100%;
}

x-sidebartabcontainer { grid-area: main; z-index: 1; }

.main-inapptoastsview { grid-area: main; z-index: 2; }

#elCharPanel {
    grid-area: characterpanel;

    width: 100%;
}

#elInstanceSelectPanel {
    grid-area: instanceselectpanel;

    width: 100%;
}


.mainsection {
    grid-area: main;
    
    width: 100%;
    overflow: hidden;
}

#elDisconnectedWarning {
    grid-area: disconnectedwarning;
}