#elMain {
    width: 100%;
    height: 100%;
    
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
        "resultview";
}

.result-view {
    grid-area: resultview;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}