
:host {
    display: contents
}

#elMain {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.01);
}

#elMain.horizontal {
    cursor: ew-resize;
}

#elMain.vertical {
    cursor: ns-resize;
}