
#elMain {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.filter-button-container { box-sizing: border-box; }

.filter-button-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "all online looking";

    width: 100%;
    gap: 5px;
    padding-left: 10px;
    padding-right: 10px;
    
    padding-top: 14px;
    margin-bottom: 5px;
}
#elFilterAll { grid-area: all; justify-self: stretch; }
#elFilterOnline { grid-area: online; justify-self: stretch; }
#elFilterLooking { grid-area: looking; justify-self: stretch; }

.filter-button {
    /* width: 70%; */
    outline: none;
    border: 1px solid var(--fg-level-3);
    background: var(--bg-level-3);
    color: var(--fg-level-3);
    border-radius: 8px;
    font-size: 70%;
    cursor: pointer;
}
.filter-button.selected {
    background: var(--bg-level-3-highlight);
    color: var(--fg-level-3-highlight);
}

#elCount {
    text-transform: lowercase;
    font-variant: small-caps;
}

.watchedchar {
    display: grid;
    grid-template-columns: 0 auto auto minmax(0, 1fr) auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
        "unseen icon titleicon name pin close"
        "unseen icon titleicon subtext pin close";

    align-items: center;
    padding: 7px 10px 7px 10px;
    border-radius: 8px;

    --itembgcolor: var(--bg-level-3);
    background: var(--itembgcolor);
}

.sectionitems-item-unseen-container {
    grid-area: unseen;
    display: none;
}
.sectionitems-item-unseen-container.shown {
    display: block;
    width: 0px;
    color: white;
    transform: translateX(-18px);
}

.sectionitems-item-icon-container {
    grid-area: icon;
    position: relative;
    width: 22px;
    height: 22px;
    margin-right: 7px;
}
.sectionitems-item-icon { 
    z-index: 1;
    width: 22px;
    height: 22px;
    max-width: 22px;
    max-height: 22px;
    margin-right: 7px;
    --iconimage-max-width: 22px;
    --iconimage-max-height: 22px;
}
.sectionitems-item-icon > * {
    width: var(--iconimage-max-width);
    height: var(--iconimage-max-height);
    max-width: var(--iconimage-max-width);
    max-height: var(--iconimage-max-height);
}
.sectionitems-item-icondot {
    display: block;
    font-size: 10px;
    z-index: 2;
    position: absolute;
    right: -1px;
    bottom: -2px;
    -webkit-text-stroke: 2px var(--itembgcolor);
}

.sectionitems-item-titleicon {
    grid-area: titleicon;
    display: none;
}
.sectionitems-item-titleicon.visible {
    display: block;
}
.sectionitems-item-titleicon-image {
    max-width: 0.8em;
    max-height: 0.8em;
    width: 0.8em;
    height: 0.8em;
    --iconimage-max-width: 0.8em;
    --iconimage-max-height: 0.8em;
    color: var(--ping-icon-fill);
    vertical-align: baseline;
    display: inline-block;
    margin-right: 0.3em;
    margin-bottom: -0.1em;
}

.sectionitems-item-name { 
    grid-area: name; 

    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
    align-self: end;
}

.sectionitems-item-subtext { 
    grid-area: subtext; 
    font-size: 65%;

    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
    align-self: start;
}

.watchedchar.selected {
    --itembgcolor: var(--bg-level-3);
    background: var(--bg-level-3-highlight);
    color: var(--fg-level-3-highlight);
}
.watchedchar:hover {
    --itembgcolor: var(--bg-level-4);
    color: var(--fg-level-4);
}