:host {
    display: block;
    width: 700px;
    max-width: 100%;
    height: 400px;
    max-height: 100%;
    position: relative;
}

* { box-sizing: border-box; }

#elMain {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: clip;
}
.about-container {
    width: 100%;
    height: 100%;
    max-height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
        "title"
        "version"
        "acknowledgements";

    overflow: clip;

    padding: 10px 10px;

    .about-title { grid-area: title; }
    .about-version { grid-area: version; }
    .about-acknowledgements { grid-area: acknowledgements; }

    .about-title { 
        align-self: center;
        justify-self: center;
        font-size: 24pt;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .about-version {
        align-self: center;
        justify-self: center;
        font-size: 85%;
        font: var(--chat-font);
    }

    .about-acknowledgements {
        border: 1px solid currentColor;
        background-color: rgba(0, 0, 0, 0.2);
        padding: 5px 5px;
        margin-top: 19px;

        overflow-y: scroll;
    }
}