:host {
    display: block;
    width: 700px;
    max-width: 100%;
    height: 400px;
    max-height: 100%;
    position: relative;
}

* { box-sizing: border-box; }

#elMain {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: clip;
}
.about-container {
    width: 100%;
    height: 100%;
    max-height: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "appinfo supportinfo"
        "acknowledgements acknowledgements";

    overflow: clip;

    padding: 10px 10px;

    .about-appinfo { grid-area: appinfo; }
    .about-supportinfo { grid-area: supportinfo; }
    .about-acknowledgements { grid-area: acknowledgements; }

    .about-appinfo {
        display: flex;
        flex-direction: column;

        .about-title { 
            align-self: flex-start;
            justify-self: center;
            font-size: 24pt;
            font-weight: bold;
            margin-bottom: 7px;
            color: white;
        }

        .about-version {
            align-self: flex-start;
            justify-self: center;
            font-size: 85%;
            font: var(--chat-font);
        }
    }

    .about-supportinfo {
        justify-self: flex-end;
        align-self: flex-end;
    }

    .about-acknowledgements {
        flex-grow: 1;

        justify-self: stretch;
        align-self: stretch;

        border: 1px solid transparent;
        background-color: rgba(0, 0, 0, 0.2);
        padding: 5px 5px;
        margin-top: 19px;

        font-size: 80%;

        overflow-y: scroll;
    }
}