
#elMain {
    min-width: 300px;
    min-height: 50px;
}

.checkboxes {
    display: none;
    margin-top: 18px;

    &.shown { display: flex; flex-direction: column; }

    .checkbox-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 6px;
    }
}

.largeselections {
    display: none;
    margin-top: 18px;

    &.shown { display: flex; flex-direction: column; gap: 8px; }

    .largeselection-button {
        outline: none;
        border: none;
        background: var(--bg-level-4);
        color: var(--fg-level-4);
        padding: 8px;
        border-radius: 8px;
        text-align: left;
        cursor: pointer;

        &:hover {
            background: var(--bg-level-4-highlight);
        }

        .largeselection-button-title {
            font-weight: bold;
        }
        .largeselection-button-description {
            font-size: 90%;
        }
    }
}