
#elMain {
    width: 100%;
    height: 100%;
}

.settings-container {
    width: 100%;
    height: 100%;
    max-height: 100%;

    display: grid;
    grid-template-rows: auto minmax(0, 1fr);
    grid-template-columns: 1fr;
    grid-template-areas:
        "tabstrip"
        "contentarea";

    --content-max-width: 800px;
}
.tabstrip { grid-area: tabstrip; }
.contentarea { grid-area: contentarea; }

.contentarea {
    background-color: var(--bg-level-4);
    color: var(--fg-level-4);

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr auto minmax(auto, var(--content-max-width)) 1fr;
    grid-template-areas:
        ". treeview tabpanel .";
}

.treeview { grid-area: treeview; }
.tabpanel { grid-area: tabpanel; }

.tabstrip {
    display: flex;
    flex-direction: row;

    margin-left: auto;
    margin-right: auto;

    background-color: var(--bg-level-3);
}

.treeview {
    background-color: var(--bg-level-4);
    color: var(--fg-level-4);

    margin: 4px;
    padding: 4px;
    min-width: 150px;
    border-right: 1px solid var(--border-level-4);

    font-weight: bold;

    & .treeview-item {
        padding-top: 0.1em;
        padding-bottom: 0.1em;

        & .treeview-item-group-title:hover {
            background-color: var(--bg-level-3-hover);
            cursor: pointer;
        }
    }
    & .treeview-item-group {
        & .treeview-item-group {
            margin-left: 6px;
            font-size: 90%;
            font-weight: normal;
        }
    }
}

.tabpanel {
    background-color: var(--bg-level-4);
    color: var(--fg-level-4);

    padding-left: calc(max(16px, 50% - (var(--content-max-width) / 2)));
    padding-right: calc(max(16px, 50% - (var(--content-max-width) / 2)));

    overflow-y: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
.tabpane {
    height: 100%;
    overflow-y: auto;
}

.tabstrip-tab.selected {
    background-color: var(--bg-level-4);
    color: var(--fg-level-4);
}

.tabpane-description {
    margin-top: 12px;
    margin-bottom: 30px;
}

.tabstrip-tab-title {
    padding: 7px 16px;
}

.setting-group {
    margin-top: 5px;
    margin-bottom: 20px;
}
.setting-item {
    padding: 9px 15px;
}
.setting-item:first-child {
    padding-top: 0;
}

.setting-item.setting-is-disabled {
    opacity: 0.5;
    user-select: none;
    pointer-events: none;
}

.setting-group > .setting-title {
    font-size: 120%;
    font-weight: bold;
}
.setting-item > .setting-title {
    font-weight: bold;
}

.setting-description {
    font-size: 90%;
    margin-top: 2px;
}

.setting-group > .setting-title,
.setting-group > .setting-description,
.setting-group-container {
    margin-left: 15px;
}
.setting-group-container {
    margin-top: 9px;
    border-left: 1px solid var(--border-level-4);
}


.setting-item:hover {
    background-color: rgba(255, 255, 255, 0.05);
}
.setting-item {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "title input"
        "description input"
        "inheritprompt input";
}
.setting-title { grid-area: title; align-self: flex-end; }
.setting-description { grid-area: description; }
.setting-inheritprompt { grid-area: inheritprompt; font-size: 80%; }
.setting-entry { 
    grid-area: input; 
    align-self: center;
    justify-self: center;
    margin-right: 10px;
    margin-left: 10px;
}

.setting-using-inherited { color: rgba(255, 255, 255, 0.5); }
.setting-revert-to-inherited { color: yellow; }
.revert-link {
    cursor: pointer;
    text-decoration: dotted underline;
}

.setting-entry-color {
    display: flex;
    flex-direction: row;
    gap: 9px;
    align-items: center;
}

.setting-entry-color-swatch {
    width: 60px;
    height: 25px;
    border: 1px solid black;
    cursor: pointer;
}


/* textlist */
.setting-item:has(.setting-entry-textlist) {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "title"
        "description"
        "inheritprompt"
        "input";
}
.setting-entry-textlist-item-container,
.setting-entry-textlist-item-container-add {
    margin-top: 4px;
}
.setting-entry-textlist-item-input {
    margin-right: 4px;
}

/* pinglist */
/* textlist */
.setting-item:has(.setting-entry-pinglist) {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "title"
        "description"
        "inheritprompt"
        "input";
}
.setting-entry-pinglist-item-container,
.setting-entry-pinglist-item-container-add {
    margin-top: 4px;
}
.setting-entry-pinglist-item-type {
    margin-right: 4px;
    background: var(--bg-main-textbox-btn);
    color: var(--fg-main-textbox-btn);
    font: inherit;
    font-size: 80%;
    border: none;
    outline: none;
}
.setting-entry-pinglist-item-input {
    margin-right: 4px;
}

/* radio */
.setting-item:has(.setting-entry-radio-container) {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "title"
        "description"
        "inheritprompt"
        "input";
}
.setting-entry-radio-container {
    justify-self: normal;
    margin-left: 30px;
    margin-top: 10px;
}
.setting-entry-radio-option {
    padding-top: 3px;
    padding-bottom: 3px;
}
.setting-entry-radio-option label:has(button) {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}
.setting-entry-radio-option label button {
    margin-right: 5px;
}

.setting-item:has(.setting-entry-notifroute) {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "title"
        "description"
        "inheritprompt"
        "input";
}
.setting-entry-notifroute {
    font-size: 80%;
    margin-top: 5px;
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 12px;
}
.setting-entry-notifroute .notifroute-button-container {
    background: var(--bg-main-textbox-btn);
    border-radius: 6px;
    padding: 3px 9px;
    text-align: center;
}
.setting-entry-notifroute .notifroute-button-container:has(.notifroute-button) {
    cursor: pointer;
}
.setting-entry-notifroute .notifroute-button-no .notifroute-button-text::before {
    content: '\274C';
    margin-right: 3px;
}
.setting-entry-notifroute .notifroute-button-no .notifroute-button-text {
    color: red;
}
.setting-entry-notifroute .notifroute-button-yes .notifroute-button-text::before {
    content: '\2705';
    margin-right: 3px;
}
.setting-entry-notifroute .notifroute-button-yes .notifroute-button-text {
    color: lime;
}
.setting-entry-notifroute .notifroute-button-container:has(.notifroute-button-important) {
    background: red;
    color: white;
}
.setting-entry-notifroute .notifroute-button-important .notifroute-button-text::before {
    content: '\2705';
    margin-right: 3px;
}
.setting-entry-notifroute .notifroute-button-important .notifroute-button-text {
    color: white;
    background: red;
}

.setting-item:has(.setting-entry-text) {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "title"
        "description"
        "inheritprompt"
        "input";

    .setting-entry-text {
        margin-top: 7px;
    }
}

.setting-entry-integer,
.setting-entry-number {
    background: var(--bg-main-textbox-btn);
    color: var(--fg-main-textbox-btn);
    font: inherit;
}