
#elMain {
    width: 100%;
    height: 100%;
}

.settings-container {
    width: 100%;
    height: 100%;
    max-height: 100%;

    display: grid;
    grid-template-rows: auto minmax(0, 1fr);
    grid-template-columns: 1fr;
    grid-template-areas:
        "tabstrip"
        "tabpanel";

    --content-max-width: 800px;
}
.tabstrip { grid-area: tabstrip; }
.tabpanel { grid-area: tabpanel; }

.tabstrip {
    display: flex;
    flex-direction: row;

    padding-left: calc(max(16px, 50% - (var(--content-max-width) / 2)));
    padding-right: calc(max(16px, 50% - (var(--content-max-width) / 2)));

    background-color: var(--bg-level-3);
}
.tabpanel {
    background-color: var(--bg-level-4);
    color: var(--fg-level-4);

    padding-left: calc(max(16px, 50% - (var(--content-max-width) / 2)));
    padding-right: calc(max(16px, 50% - (var(--content-max-width) / 2)));

    overflow-y: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
.tabpane {
    height: 100%;
    overflow-y: auto;
}

.tabstrip-tab.selected {
    background-color: var(--bg-level-4);
    color: var(--fg-level-4);
}

.tabstrip-tab-title {
    padding: 7px 16px;
}

.setting-group {
    margin-top: 5px;
    margin-bottom: 20px;
}
.setting-item {
    padding: 9px 15px;
}

.setting-item.setting-is-disabled {
    opacity: 0.5;
    user-select: none;
    pointer-events: none;
}

.setting-group > .setting-title {
    font-size: 120%;
    font-weight: bold;
}
.setting-item > .setting-title {
    font-weight: bold;
}

.setting-description {
    font-size: 90%;
    margin-top: 2px;
}

.setting-group-container {
    /* padding-left: 9px; */
}


.setting-item:hover {
    background-color: rgba(255, 255, 255, 0.05);
}
.setting-item {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 50% auto auto;
    grid-template-areas:
        "title input"
        "description input"
        "inheritprompt input";
}
.setting-title { grid-area: title; align-self: flex-end; }
.setting-description { grid-area: description; }
.setting-inheritprompt { grid-area: inheritprompt; font-size: 80%; }
.setting-entry { 
    grid-area: input; 
    align-self: center;
    justify-self: center;
    margin-right: 10px;
}

.setting-using-inherited { opacity: 0.7;}
.setting-revert-to-inherited { color: yellow; }
.revert-link {
    cursor: pointer;
    text-decoration: dotted underline;
}

.setting-entry-color {
    display: flex;
    flex-direction: row;
    gap: 9px;
    align-items: center;
}

.setting-entry-color-swatch {
    width: 60px;
    height: 25px;
    border: 1px solid black;
    cursor: pointer;
}


/* textlist */
.setting-item:has(.setting-entry-textlist) {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "title"
        "description"
        "inheritprompt"
        "input";
}
.setting-entry-textlist-item-container,
.setting-entry-textlist-item-container-add {
    margin-top: 4px;
}
.setting-entry-textlist-item-input {
    margin-right: 4px;
}