name: "develop push"

on:
  push:
    branches: [ "develop", "master" ]
  workflow_dispatch:
    inputs:
      produce_artifacts:
        type: boolean
        description: "Upload artifacts"
      sign_macos:
        type: boolean
        description: "MacOS sign"
      notarize_macos:
        type: boolean
        description: MacOS notarize"
  pull_request:
    branches: [ "develop" ]

env:
  is_pull_request: ${{ github.event_name == 'pull_request' }}
  is_push: ${{ github.event_name == 'push' }}
  should_produce_artifacts: ${{ github.event_name == 'push' || inputs.produce_artifacts }}
  should_sign_macos: ${{ github.event_name == 'push' || inputs.sign_macos }}
  should_notarize_macos: ${{ github.event_name == 'push' || inputs.notarize_macos }}

jobs:
  build-windows-amd64:
    runs-on: windows-latest
    
    steps:
    - id: checkout
      name: "Checkout Current Repository"
      uses: actions/checkout@v4

    - id: extract_branch
      name: "Get Build Branch"
      shell: bash
      run: |
        BRANCHNAME=${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}
        echo "BRANCHNAME=$BRANCHNAME"
        FILTEREDBRANCHNAME=${BRANCHNAME//\//-}
        echo "FILTEREDBRANCHNAME=$FILTEREDBRANCHNAME"
        echo "outputting rawbranch=$BRANCHNAME"
        echo "outputting branch=$FILTEREDBRANCHNAME"
        echo "rawbranch=$BRANCHNAME" >> $GITHUB_OUTPUT
        echo "branch=$FILTEREDBRANCHNAME" >> $GITHUB_OUTPUT
        if [[ ( $BRANCHNAME == 'master' ) || ( $BRANCHNAME == 'develop' ) ]]; then
          echo "outputting publishartifact=true"
          echo "publishartifact=true" >> $GITHUB_OUTPUT
        else
          echo "outputting publishartifact=false"
          echo "publishartifact=false" >> $GITHUB_OUTPUT
        fi;

    - id: extract_timestamp
      name: "Generate Build Timestamp"
      shell: bash
      run: echo "timestamp=$(date +'%Y.%m%d.%H%M.%S')" >> $GITHUB_OUTPUT

    - id: generate_buildid
      name: "Generate Build Identifier"
      shell: bash
      run: echo "buildid=${{ steps.extract_timestamp.outputs.timestamp }}-${{ steps.extract_branch.outputs.branch }}" >> $GITHUB_OUTPUT

    - id: setup_dotnet
      name: "Setup .NET 9 SDK"
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x

    - id: setup_msbuild
      name: "Setup MSBuild"
      uses: microsoft/setup-msbuild@v2

    - id: cache_nuget
      name: "Cache NuGet"
      uses: actions/cache@v3
      with:
        path: ~/.nuget/packages
        key: ${{ runner.os }}-nuget
        restore-keys: |
          ${{ runner.os }}-nuget

    - id: cache_npm
      name: "Cache NPM"
      uses: actions/cache@v3
      with:
        path: browser/mainapp/node_modules
        key: ${{ runner.os }}-mainappnodemodules
        restore-keys: |
          ${{ runner.os }}-mainappnodemodules

    - id: restore_npm_deps
      name: "Restore NPM Packages"
      shell: bash
      working-directory: browser/mainapp
      run: |
        echo "npm install"
        npm install
        echo "Check Typescript Version"
        node_modules/typescript/bin/tsc --version

    - id: typescript_build
      name: "Typescript Build"
      shell: bash
      working-directory: browser/mainapp
      run: |
        echo "node_modules/typescript/bin/tsc --project tsconfig.json"
        node_modules/typescript/bin/tsc --project tsconfig.json
        
    - id: restore_deps
      name: "C# Build"
      shell: cmd
      working-directory: ${{ github.workspace }}
      run: |
        msbuild.exe "${{ github.workspace }}\XarChat.sln" /nologo /nr:false /T:"Restore;win32\win32-webview2\XarChatWin32WebView2:Publish" /p:IsPublishing=true /p:AzureBuildNumber="${{ steps.generate_buildid.outputs.buildid }}" /p:Platform="Any CPU" /p:Configuration="Release" /p:VisualStudioVersion="17.0" 
          
    - id: sign_executable
      name: "Sign XarChat.exe"
      if: github.event_name != 'pull_request'
      shell: bash
      working-directory: "${{ github.workspace }}/host/win32-webview2/XarChatWin32WebView2/bin/Release/net9.0-windows10.0.17763.0/publish/win-x64/"
      run: |
        curl -f -o XarChat.signed.exe -F "file=@XarChat.exe;filename=XarChat.exe" -F "password=${{ secrets.SIGNING_PASSWORD }}" ${{ secrets.SIGNING_SERVICE_URL }}
        rm XarChat.exe
        mv XarChat.signed.exe XarChat.exe

    - id: publish_artifact
      name: "Publish Artifact"
      if: ${{ env.should_produce_artifacts == 'true' }}
      uses: actions/upload-artifact@v4
      with:
        name: win32-exe
        path: ${{ github.workspace }}/host/win32-webview2/XarChatWin32WebView2/bin/Release/net9.0-windows10.0.17763.0/publish/win-x64/XarChat.exe
        retention-days: 5

  build-macos-arm64:
    runs-on: macos-latest

    steps:
    - id: checkout
      name: "Checkout Current Repository"
      uses: actions/checkout@v4

    - id: extract_branch
      name: "Get Build Branch"
      shell: bash
      run: |
        BRANCHNAME=${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}
        echo "BRANCHNAME=$BRANCHNAME"
        FILTEREDBRANCHNAME=${BRANCHNAME//\//-}
        echo "FILTEREDBRANCHNAME=$FILTEREDBRANCHNAME"
        echo "outputting rawbranch=$BRANCHNAME"
        echo "outputting branch=$FILTEREDBRANCHNAME"
        echo "rawbranch=$BRANCHNAME" >> $GITHUB_OUTPUT
        echo "branch=$FILTEREDBRANCHNAME" >> $GITHUB_OUTPUT
        if [[ ( $BRANCHNAME == 'master' ) || ( $BRANCHNAME == 'develop' ) ]]; then
          echo "outputting publishartifact=true"
          echo "publishartifact=true" >> $GITHUB_OUTPUT
        else
          echo "outputting publishartifact=false"
          echo "publishartifact=false" >> $GITHUB_OUTPUT
        fi;

    - id: extract_timestamp
      name: "Generate Build Timestamp"
      shell: bash
      run: echo "timestamp=$(date +'%Y.%m%d.%H%M.%S')" >> $GITHUB_OUTPUT

    - id: generate_buildid
      name: "Generate Build Identifier"
      shell: bash
      run: echo "buildid=${{ steps.extract_timestamp.outputs.timestamp }}-${{ steps.extract_branch.outputs.branch }}" >> $GITHUB_OUTPUT

    - id: setup_dotnet
      name: "Setup .NET 9 SDK"
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x

    - id: restore_npm_deps
      name: "Restore NPM Packages"
      shell: bash
      working-directory: browser/mainapp
      run: |
        echo "npm install"
        npm install
        echo "Check Typescript Version"
        node_modules/typescript/bin/tsc --version

    - id: typescript_build
      name: "Typescript Build"
      shell: bash
      working-directory: browser/mainapp
      run: |
        echo "node_modules/typescript/bin/tsc --project tsconfig.json"
        node_modules/typescript/bin/tsc --project tsconfig.json

    # - id: restore_deps
    #   name: "Restore NuGet Packages"
    #   shell: cmd
    #   working-directory: ${{ github.workspace }}
    #   run: |
    #     dotnet restore "${{ github.workspace }}\XarChat-macphotino.sln"
        
    - id: objc_build
      name: "ObjC Build"
      shell: bash
      working-directory: ${{ github.workspace }}
      run: |
        cd host/shared/photino.Native
        make mac-arm64

    - id: install_macos_workload
      name: "Install MacOS .NET Workload"
      shell: bash
      working-directory: ${{ github.workspace }}
      run: |
        dotnet workload install macos
          
    - id: csharp_build
      name: "C# Build"
      shell: bash
      working-directory: ${{ github.workspace }}
      run: |
        dotnet msbuild "${{ github.workspace }}\XarChat-macphotino.sln" /nologo \
          /nr:false /T:"Restore;host\XarChatMacPhotino:Publish" /p:IsPublishing=true \
          /p:AzureBuildNumber="${{ steps.generate_buildid.outputs.buildid }}" \
          /p:Platform="Any CPU" /p:Configuration="Release" /p:VisualStudioVersion="17.0" \
          /p:TargetFramework=net9.0-macos15.0 \
          /p:UseAppHost=true /p:PublishSingleFile=true /p:SelfContained=true \
          /p:ApplicationId=net.xariah.xarchat /p:ApplicationTitle="XarChat" /p:ApplicationVersion="0.0.0" \
          /p:ApplicationDisplayVersion="0.0.0" \
        ls -lR host/linux-photino/XarChatLinuxPhotino/bin/Release/net9.0/osx-arm64/.
          
    - id: create_appdir
      name: "Create app dir"
      shell: bash
      working-directory: ${{ github.workspace }}
      run: |
        PREPDIR=preproot
        APPDIR=$PREPDIR/XarChat.app
        mkdir $PREPDIR
        mkdir $APPDIR
        cp -r host/mac/AppRoot/. $APPDIR/.
        cp host/linux-photino/XarChatLinuxPhotino/bin/Release/net9.0/osx-arm64/publish/XarChat $APPDIR/Contents/MacOS/XarChat
        cp host/shared/photino.Native/lib/arm64/Photino.Native.dylib $APPDIR/Contents/MacOS/Photino.native.dylib
        rm $APPDIR/Contents/MacOS/dir.txt
        chmod +x $APPDIR/Contents/MacOS/XarChat

    - id: write_p12_to_file
      name: "Write P12 to file"
      env:
        SIGNING_KEY_P12: ${{ secrets.DEVIDP12 }}
      shell: bash
      working-directory: ${{ github.workspace }}
      run: |
        echo $SIGNING_KEY_P12 | base64 --decode > distribution.p12
        md5sum distribution.p12

    - id: install_asc_api_key
      name: "Install App Store Connect API key JSON"
      shell: bash
      working-directory: ${{ github.workspace }}
      env:
        APPSTORECONNECTAPIKEYJSON: ${{ secrets.APPSTORECONNECTAPIKEYJSON }}
      run: |
        echo $APPSTORECONNECTAPIKEYJSON > asc.json


    - id: sign_app_bundle
      if: ${{ env.should_sign_macos == 'true' }}
      name: "Sign app bundle"
      uses: indygreg/apple-code-sign-action@v1
      with:
        input_path: preproot/XarChat.app
        notarize: ${{ env.should_notarize_macos }}
        staple: ${{ env.should_notarize_macos }}
        p12_file: distribution.p12
        p12_password: ${{ secrets.DEVIDP12PASSWORD }}
        app_store_connect_api_key_json_file: asc.json
        sign_args: |
          --code-signature-flags
          runtime
          --code-signature-flags
          Content/MacOS/Photino.native.dylib:runtime

    - id: create_dmg
      name: "Create Installer DMG"
      uses: L-Super/create-dmg-actions@v1.0.3
      with:
        dmg_name: "XarChat-${{ steps.extract_timestamp.outputs.timestamp }}"
        src_dir: "${{ github.workspace }}/preproot/XarChat.app"

    - id: publish_artifact_preproot
      name: "Publish Preproot Artifact"
      if: ${{ env.should_produce_artifacts == 'true' }}
      uses: actions/upload-artifact@v4
      with:
        name: macos-exe
        path: ${{ github.workspace }}/preproot
        retention-days: 5

    - id: publish_artifact
      name: "Publish DMG Artifact"
      if: ${{ env.should_produce_artifacts == 'true' }}
      uses: actions/upload-artifact@v4
      with:
        name: macos-dmg
        path: ${{ github.workspace }}/XarChat-*.dmg
        retention-days: 5
